<style>
  label {
    display: block;
  }
</style>
{{ $root := . }}
{{ $id := randAlphaNum 20 }} {{/* if we assume amphanum to be ~5 bits of entropy, this should give us 100 bits, making it unlikely enough to have a collision with DOM IDs */}}
{{ if .htmx }}
<nav>
  <button hx-post="/edit?node-name={{ .nodeName }}" hx-include="#popup-form-{{ $id }}" hx-target="closest .popup">
    Save
  </button>
  <button hx-get="/edit?node-name={{ .nodeName }}" hx-target="closest .popup">
    Reload
  </button>
  <button class="nav-right" id="close-edit-{{ .nodeName }}">Close</button>
  <br />
  Edit:
  {{ if .node.GetDescription }}
  <em>{{ .node.GetDescription }}</em>
  {{ else }}
  <em><code>{{ .nodeName }}</code></em>
  {{ end }}
</nav>
<script type="module">
  import { morphIntoDraggable } from "/static/popup.js";

  let b = document.getElementById("close-edit-{{ .nodeName }}");
  b.addEventListener("click", (e) => {
    b.parentNode.parentNode.classList.add("popup-backburner");
  });
  morphIntoDraggable(b.parentNode.parentNode, b.parentNode);
</script>
{{ end }}
<div class="popup-content">
  <form id="popup-form-{{ $id }}" method="post">
    <label>
      <input type="checkbox" name="has-cue-number"{{ if .hasCueNumber }} checked{{ end }}/>
      Has Cue Number
    </label>
    <label>
      Cue Number
      <input type="number" name="cue-number" value="{{ .cueNumber }}" />
    </label>
    <label>
      Name
      <input type="text" name="name" value="{{ .nodeName }}" />
    </label>
    <label>
      Description
      <input type="text" name="description" value="{{ .node.GetDescription }}" />
    </label>
    <label>
      Type
      <select name="type">
        {{ range $i, $t := .availableNodeTypeNames }}
        <option value="{{ $t }}"{{ if eq $root.node.TypeName $t }} selected {{ end }}>{{ $t }}</option>
        {{ end }}
      </select>
    </label>
    <fieldset>
      <legend>Type-Specific</legend>
      {{ $coveredFields := dict }}
      {{ if eq .node.TypeName "nyiyui.ca/halation/node.EvalLua" }}
        {{ $coveredFields = dict "Source" 0 }}
        <label>
          Source Code
          <textarea name="source" rows="10" cols="40">{{ .node.Source }}</textarea>
        </label>
        {{ partial "promise-checkbox2.html" (dict
          "field" "Source"
          "node" .node
        ) }}
      {{ else if eq .node.TypeName "nyiyui.ca/halation/node.Manual" }}
      {{ else if eq .node.TypeName "nyiyui.ca/halation/node.SetState" }}
        <label>
          State Type
          <select name="state-type">
            <option value="">None</option>
            {{ range $i, $t := .availableStateTypeNames }}
            <option value="{{ $t }}"{{ if and $root.node.SG.State (eq $root.node.SG.State.TypeName $t) }} selected {{ end }}>{{ $t }}</option>
            {{ end }}
          </select>
        </label>
        <label>
          State
          <textarea name="state" rows="10" cols="40">{{ printf "%s" (toJSON .node.SG.State) }}</textarea>
        </label>
        <label>
          Gradient Type
          <select name="gradient-type">
            <option value="">None</option>
            {{ range $i, $t := .availableGradientTypeNames }}
            <option value="{{ $t }}"{{ if and $root.node.SG.Gradient (eq $root.node.SG.Gradient.TypeName $t) }} selected {{ end }}>{{ $t }}</option>
            {{ end }}
          </select>
        </label>
        {{ if and .node.SG.Gradient (eq .node.SG.Gradient.TypeName "nyiyui.ca/halation/gradient.LinearGradient") }}
          {{ partial "node-gradient.html" .node.SG.Gradient }}
        {{ else }}
          <label>
            Gradient
            <textarea name="gradient" rows="10" cols="40">{{ printf "%s" (toJSON .node.SG.Gradient) }}</textarea>
          </label>
        {{ end }}
      {{ else }}
        <p>Node type not supported.</p>
      {{ end }}
    </fieldset>
    <fieldset>
      <legend>Other Promises</legend>
      {{ range $i, $p := .node.BaseNodeRef.Promises }}
        {{ if (hasKey $coveredFields $p.FieldName) }}{{ continue }}{{ end }}
        {{ partial "promise-checkbox.html" (dict
          "checked" 1
          "node" $.node
          "field" $p.FieldName
          "fieldEditable" 1
          "supply" (print $p.SupplyNodeName)
        ) }}
      {{ end }}
      <!-- blank one for adding promises -->
      {{ partial "promise-checkbox.html" (dict
        "node" .node
        "fieldEditable" 1
      ) }}
    </fieldset>
    {{ if not .htmx }}
    <input type="submit" value="Save"/>
    {{ end }}
    {{/* TODO: saved notification */}}
  </form>
  <details>
    <summary>Raw JSON</summary>
  <pre>
  {{ printf "%s" (toJSON .node) }}
  </pre>
  </details>
</div>
