{{ define "submap" }}
  {{ range $i, $name := $.names }}
  {{ $node := index $.nm.Nodes $name }}
  <div class="node">
    <section>
      {{ if $.root }}
      {{ index $.cuelist.GenOpposite $name }}
      {{ end }}
      {{ if $node.GetDescription }}
        {{ $node.GetDescription }}
      {{ else }}
      <code>{{ $name }}</code>
      {{ end }}
      <!-- Type: <code>{{ $node.TypeName }}</code> -->
      Short: <code>{{ $node }}</code>
      <br />
      <button 
        hx-post="/activate?node-name={{ $name }}" 
        hx-swap="none"
        class="node-activate"
      >Activate</button>
      <button 
        hx-get="/edit?node-name={{ $name }}" 
        hx-target="#node-i{{ $i }}-modal"
        class="node-edit"
        data-target="node-i{{ $i }}-modal"
      >Edit</button>
      
      <div class="popup popup-backburner" id="node-i{{ $i }}-modal"></div>
    </section>
    {{ template "submap" (dict
      "nm" $.nm
      "cuelist" $.cuelist
      "names" (index $.pm $name)
      "pm" $.pm
    ) }}
    {{/* detect loops */}}
  </div>
  {{ end }}
{{ end }}

{{ define "head" }}{{ end }}

{{ define "header" }}
  Map
  <button hx-post="/new" hx-swap="none">New</button>
  <button id="reload-button" class="nav-right" hx-get="" hx-target="#content" style="display: none;">
    Reload
  </button>
{{ end }}

{{ define "content" }}
<style>
.map {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.node {
  display: flex;
  flex-wrap: wrap;
  margin: 4px;
  padding: 4px;
  padding-left: 8px;
  border-top: solid black 2px;
  border-left: solid black 2px;
}
</style>
<div id="map" class="map">
  {{ template "submap" (dict "nm" .nr.NM "cuelist" $.cuelist "names" .roots "pm" .pm "root" true) }}
</div>
<script type="module">
  let latest;
  // https://stackoverflow.com/a/70691308
  // Note: persist popup (even after clicking outside) to allow having multiple popups open at the same time.
  function morphIntoPopup(elem) {
    const absX = latest.clientX + window.scrollX;
    const absY = latest.clientY + window.scrollY;
    
    const bcrParent = elem.parentElement.getBoundingClientRect();
    const bcrPopup = elem.getBoundingClientRect();
    
    const maxX = bcrParent.width - bcrPopup.width;
    const maxY = bcrParent.height - bcrPopup.height;
    
    //const x = Math.max(0, Math.min(absX, maxX));
    //const y = Math.max(0, Math.min(absY, maxY));
    const x = absX;
    const y = absY;
    
    elem.classList.remove("popup-backburner");
    Object.assign(elem.style, {
      left: `${x}px`,
      top: `${y}px`,
    });
  };
  function mousemoveListener(e) {
    latest = e;
  }
  function popupListener(e) {
    if (!e.target.classList.contains("node-edit")) return;
    let modal = document.getElementById(e.target.dataset.target);
    morphIntoPopup(modal);
  }
  addEventListener("mousemove", mousemoveListener);
  addEventListener("htmx:afterRequest", popupListener);
  addEventListener("htmx:afterRequest", (e) => { // cleanup
    if (e.target.id != "content") return;
    removeEventListener("mousemove", mousemoveListener);
    removeEventListener("htmx:afterRequest", popupListener);
  }, { once: true });
</script>
<script type="module">
  import { showReloadButtonOnChange } from "/static/base.js";

  const reloadButton = document.getElementById("reload-button");
  showReloadButtonOnChange(reloadButton);
  addEventListener("htmx:afterRequest", (e) => {
    if (e.target != reloadButton) return;
    reloadButton.style.display = "block";
  }, { once: true });
</script>
{{ end }}

{{ template "base.html" . }}
